# Numpy

In [1]:
import numpy as np

In [3]:
my_array = np.array([1,2,3,4])
my_array

array([1, 2, 3, 4])

In [4]:
my_array.mean()

2.5

In [7]:
# job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer'])

# Base Salaries
base_salries = np.array([60_000, 80_000, 75_000, 90_000])

# Bonus Rates
bonus_rates = np.array([0.05, 0.1 , 0.08, 0.12])

In [10]:
total_salaries = base_salries * (1 + bonus_rates)
total_salaries

array([ 63000.,  88000.,  81000., 100800.])

In [11]:
np.mean(total_salaries)

83200.0

### None Vlaues

In [14]:
# job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'AI Engineer'])

# Base Salaries
base_salries = np.array([60_000, 80_000, 75_000, 90_000, 0])

# Bonus Rates
bonus_rates = np.array([0.05, 0.1 , 0.08, 0.12, 0])

# Mean will decrease if we do not calculate empty vlaues as None
total_salaries = base_salries * (1 + bonus_rates)
total_salaries
np.mean(total_salaries)

66560.0

In [ ]:
# job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'AI Engineer'])

# Base Salaries
base_salries = np.array([60_000, 80_000, 75_000, 90_000, None])

# Bonus Rates
bonus_rates = np.array([0.05, 0.1 , 0.08, 0.12, None])

# Mean will decrease if we do not calculate empty vlaues as None
total_salaries = base_salries * (1 + bonus_rates)
total_salaries
np.mean(total_salaries)